<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/login" method="post">
    <label for="username">ユーザー名</label>
    <input type="text" name="username" id="username" />
    <label for="password">パスワード</label>
    <input type="text" name="password" id="password" />
    <input type="submit" />
  </form>
</body>
</html>